
li {
  list-style-type: none;
}


  .BlockProductCard{
    margin: 15px 0 0 0;
  }

  .BlockProductCard input{
    display:inline-block;
    width: 300px;
  }

  .error{
    color:rgb(241, 18, 18);
  }