.filter {
    width: 640px;
    margin: 10px auto;
    padding: 10px 10px 0px;
    border: 2px solid black;

}

.filter  input  {
    margin: 0px 10px;
}

.filter .list {
    height: 150px;
    padding: 10px 0px 20px;
    margin-top: 10px;
    border-top: 2px double black;
    overflow-y: scroll;
}

.filter .list li {
    list-style: none;
    padding-bottom: 3px;
}
