.FullList {
    width: 350px;
    margin: auto;
    
}

.FullList .list {
    height: 250px;
    margin-top: 20px;
    border-top: 0.1px solid black;
    overflow-y: scroll;
}

.FullList .list li {
    border-bottom: 0.1px solid black;
    list-style: none;
    padding-bottom: 3px;
}

.text{
    margin-left:78px; 
}