/* .ProductCard{
    margin: auto;
    border: px solid blue;
    border-collapse: collapse;
    background: lightblue;
    width: 688px;
  
  }
  .ProductCard td, th{
    border: 1px solid grey;
    margin: 5px;
    color: grey;
    padding: 20px;
    width: 20px;
  } */
li {
  list-style-type: none;
}


  .BlockProductCard{
    margin: 15px 0 0 0;
  }

  .BlockProductCard input{
    display:inline-block;
    width: 300px;
  }

  