.title {
    display: flex;

    height: 40px;
    color: var(--main-text-color);
    font-weight:bold; 
    background: rgb(211, 211, 211);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}